<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:25:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:25:22</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:25:22</td>   <td>203</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:25:22</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:24:55</td>   <td>-26903</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:24:55</td>   <td>-26893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:24:55</td>   <td>-26939</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>18/02/12 14:24:55</td>   <td>-26911</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>18/02/12 14:24:55</td>   <td>-26892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlightRoundTripTest.testRoundTrip()[pri:0, instance:com.flightbook.tests.FlightRoundTripTest@47db50c5]">testRoundTrip</td> 
  <td>main@380242442</td>   <td></td> </tr>
</table>
