<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="info"><span class="info-label">I </span>The Count of avialable flight is 10</div><div  class="info"><span class="info-label">I </span>The Price of the flights are: $231</div><div  class="info"><span class="info-label">I </span>The Price of the flights are: $241</div><div  class="info"><span class="info-label">I </span>The Price of the flights are: $294</div><div  class="info"><span class="info-label">I </span>The Price of the flights are: $295</div><div  class="info"><span class="info-label">I </span>The Price of the flights are: $316</div><div  class="info"><span class="info-label">I </span>The Price of the flights are: $338</div><div  class="info"><span class="info-label">I </span>
</div></div></td></tr>
</table>